<suite name="Suite">
  <test name="Test">
  <parameter name="grid" value="no"/>
  <parameter name="gridurl" value="http://localhost:4444"/>
  <parameter name="browser" value="firefox"/>
  <parameter name="appurl" value="https://demo.actitime.com"/>
  <parameter name="ito" value="9"/>
  <parameter name="eto" value="9"/>
    <packages>
      <package name="script"/>
    </packages>
  </test> 
</suite>
